* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "outfit";
}

body {
    margin: auto;
    width: 1280px;
}

header {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2B2A2B;
    padding: 12px 40px;


}

.cup,
.phone {
    display: flex;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0 1rem;
}

h1 {
    color: white;
    font-size: 23.4628px;
    line-height: 35px;
    font-style: normal;
}

.cup div {
    margin-left: 10px;
}

.phone img {
    margin: 5px;
}

.phone p {
    text-decoration: none;
    margin: 0 24px 0 6px;
    color: white;
}

.phone .sesion {
    padding: 12px 26px;
    background-color: #515051;
    color: white;
    font-family: "outfit";
    border-radius: 4px;
    border: none;

}

.sectionone {
    background: rgba(227, 222, 215, 0.3);
    font-style: normal;
    display: flex;
    padding: 48px 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 8px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.mainContent h2 {
    color: #2A5B45;
    font-size: 18px;
}

.home {

    font-size: 40px;
    color: #000000;
    margin: 16px 0px 18px 0px;


}

section p {
    margin: 1rem 0;
    font-size: 14px;
    color: #111827;

}

.imgcoffe {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;

}

.source {

    font-size: 14px;
    background: #1F1815;
    color: #FFFFFF;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 24px;
    margin: 16px;
    border: none;

}

.purchase {
    font-size: 14px;
    color: #FFFFFF;
    flex-direction: row;
    border-radius: 4px;
    background: #2A5B45;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: flex-start;
    padding: 12px 24px;
    border: none;
}

/******SectionTwo******/


.sectiontwo {

    background-image: url(../asset/cafeDeFondo.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.sectiontwo h2 {
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 30px 0;

}

.container {
    display: flex;
    justify-content: center;
}

.container .order {

    flex-direction: column;



}

.order {
    background-color: #F7F5F3;
    justify-content: center;
    align-items: center;
    width: 316px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    margin: 24px;
}

.order p {
    font-size: 14px;
    padding: 0 24px;

    color: #111827;

}

.order h3 {
    font-size: 18px;
    color: #2B2A2B;

}

.order img {

    margin: 20px 0;
}

/*************Section three***********/

.sectionthree {

    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    text-align: center;


}

.containertwo {

    display: flex;

}



.sectionthree h2 {

    font-size: 24px;
    text-align: center;
    color: #2A5B45;
    margin: 24px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Costarica {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 282px;
    border-radius: 8px;
    border: 1px solid #E3DED7;
    margin: 16px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.Costarica:hover .Laos {
    background-color: #E3DED7;

}

.Costarica:hover {
    background-color: #E3DED7;

}

.Costarica:hover .Añadir {

    background: #2A5B45;
}

.Añadir {
    width: 60px;
    display: flex;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    color: white;
    padding: 8px;
    border: none;
}



.see a {

    text-decoration-line: underline;
    font-size: 14px;
    font-family: "outfit";
    color: #000000;
    padding: 12px;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.see {
    margin: 20px;
}

.Laos {

    background-color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;

}

.Costarica img {

    margin: 24px 31.3px;
}

.Costarica p {
    font-weight: 400;
    font-size: 14px;
    margin: 12px 0 24px 0;
}

/*************Section four***********/

.cuestion {
    background-color: #2A5B45;
    color: #2B2A2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.cuestion h2 {
    color: #FFFFFF;
    font-size: 24px;
    margin: 41px 0;

}


.selection {
    display: flex;
    width: 668px;
    justify-content: space-around;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: left;
    margin: 16px 0;
    padding: 24px;
    

}

.selection p {
    font-size: 12px;
    border-top: 1px solid #E3DED7;
    padding: 24px;
}

.doubt {
    margin: 41px 0;
}

.doubt a {
    color: white;
    font-size: 14px;
    margin: 0 19px;
}