* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "outfit";
}

body {

    margin: auto;
    width: 1280px;
}

/*******************Header************************/
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2B2A2B;
    padding: 12px 40px;
}

.cup,
.phone {
    display: flex;
    align-items: center;
    text-decoration: none;


}

.navegacion a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0 1rem;
}

h1 {
    color: white;
    font-size: 23.4628px;
    line-height: 35px;
    font-style: normal;
}

.cup div {
    margin-left: 10px;
}

.phone img {
    margin: 5px;
}

.phone p {
    text-decoration: none;
    margin: 0 24px 0 6px;
    color: white;
}

.phone .sesion {
    padding: 12px 26px;
    background-color: #515051;
    color: white;
    font-family: "outfit";
    border-radius: 4px;
    border: none;
}

/********************SectionOne******************/

.sectionone {
    background: rgba(227, 222, 215, 0.3);
    font-style: normal;
    display: flex;
    padding: 46px 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.mainContent h2 {
    color: #2A5B45;
    font-size: 18px;
    font-weight: 600;
}

.home {
    font-size: 40px;
    color: #000000;
    margin: 16px 0 0 0;
}

section p {
    margin: 1rem 0;
    font-size: 14px;
    color: #111827;
    font-weight: 400px;
}

.imgcoffe {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.source {
    font-size: 14px;
    font-weight: 600;
    background: #1F1815;
    color: #FFFFFF;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 24px;
    margin: 0 16px 0 0;
    border: none;
}

.purchase {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    flex-direction: row;
    border-radius: 4px;
    background: #2A5B45;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: flex-start;
    padding: 12px 24px;
    border: none;
}

/***************SectionTwo*************************/

.sectiontwo {
    background-image: url(../asset/cafeDeFondo.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.sectiontwo h2 {
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px 0 12px 0;
}

.container {
    display: flex;
    justify-content: center;
}

.container .order {
    flex-direction: column;
}

.order {
    background-color: #F7F5F3;
    justify-content: center;
    align-items: center;
    width: 316px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    margin: 12px 12px 48px 12px;
}

.order p {
    font-size: 14px;
    padding: 0 24px;

    color: #111827;
}

.order h3 {
    font-size: 18px;
    color: #2B2A2B;
}

.order img {
    margin: 20px 0;
}

/**********************Section three***************/

.sectionthree {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;

}

.containertwo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


}

.sectionthree h2 {
    font-size: 24px;
    text-align: center;
    color: #2A5B45;
    margin: 24px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Costarica {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 282px;
    border-radius: 8px;
    border: 1px solid #E3DED7;
    margin: 16px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.Costarica:hover .Laos {
    background-color: #E3DED7;
}

.Costarica:hover {
    background-color: #E3DED7;
}

.Costarica:hover .Añadir {
    background: #2A5B45;
}

.Añadir {
    width: 60px;
    display: flex;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    color: white;
    padding: 8px;
    border: none;
}

.see a {
    text-decoration-line: underline;
    font-size: 14px;
    font-family: "outfit";
    color: #000000;
    padding: 12px;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.see {
    margin: 20px;
}

.Laos {
    background-color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
}

.Costarica img {
    margin: 24px 31.3px;
}

.Costarica p {
    font-weight: 400;
    font-size: 14px;
    margin: 12px 0 24px 0;
}

/*************************Section four*****************/

.cuestion {
    background-color: #2A5B45;
    color: #2B2A2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cuestion h2 {
    color: #FFFFFF;
    font-size: 24px;
    margin: 41px 0;
}

.selection h3 {
    padding: 12px 0;
}

.selection {
    width: 668px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: left;
    margin: 16px 0;
    padding: 20px;
}

.selection p {
    display: none;
    font-size: 12px;
    border-top: 1px solid grey;
    margin: auto 0;
    padding: 16px 0 0 0;
}

.emotion {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.emotion img {
    Width: 10px;
    Height: 6px;
}

.doubt {
    margin: 41px 0;
}

.doubt a {
    color: white;
    font-size: 14px;
    margin: 0 19px;
}

/*************************Section five*****************/
.sectionfive {
    display: flex;
    background: rgba(227, 222, 215, 0.3);
    font-style: normal;
    padding: 48px 40px;
    gap: 8px;
}

.sectionfive h2 {
    font-size: 24px;
    color: #2A5B45;
}

.how a {
    text-decoration-line: underline;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin: 16px 19px 0 0;
}

/*************************Section six*****************/

.sectionsix {
    width: 1280px;
    height: 552px;
    background-color: #E3DED7;
    display: flex;
    align-content: center;
    color: #6B7280;
    font-size: 14px;
    margin: 0 40px 0 0;
}

.evergreen {
    background: #E3DED7;
    width: 50%;
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 32px 32px 48px;
    color: #6B7280;
}

.evergreen p {
    color: #6B7280;
}

.evergreen h3 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(17, 24, 39, 1);
}

.support p {
    color: #6B7280;
    margin: 0px;
}

.support {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;

}

.terrace {
    padding-bottom: 16px;
}

.terrace p {
    margin: auto 0;
}

.support a {
    color: black;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.support-email {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0px 32px 0px;
}

.support img {
    margin: 0px;
}

/*************************Formulario*****************/
form {
    background: white;
    width: 50%;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 32px 32px 32px 48px;
    margin: 0 40px 0 0;
}

form label {
    font-size: 12px;
    color: #374151;
}

.us {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    gap: 22px;
}

.form-galping {
    height: 43px;
    gap: 4px;

}

.form-galping input {
    border: 1px solid #ccc;
    /* outline: none; */

}

#name2 {
    height: 34px;
    width: 100%;
    /* border: 1px solid #D1D5DB; */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 12px;
    margin-top: 4px;
    padding: 8px;
    border-radius: 6px;
}


#email {
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: solid 1px rgba(209, 213, 219, 1);
}

#pais {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0px;
    border: white;
}


.apple {
    margin-top: 4px;

    padding: 8px;
    border-radius: 6px;
    border: solid 1px rgba(209, 213, 219, 1);
}

.apple input {
    padding-left: 8px;
    border: #FFFFFF;
}

#mensaje {
    outline: none;
    margin-top: 20px;
    height: 142px;
    padding: 13px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.mouse {
    display: flex;
    line-height: normal;
    padding: 8px;
}

.mouse input {
    display: inline-block;
}

.us input {
    margin: 0 12px 0 0;

}

.kia {
    width: 90px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    color: white;
    padding: 12px 24px;
    border: none;
}

.mouse a {
    color: #000000;
    font-weight: 600;
}

input::placeholder {
    text-indent: 5px;
    transform: translateY(-50px);
}


/*************************Footer*****************/
footer {
    background-color: #1F1815;
    height: 280px;
}

.cup-footer {
    padding-top: 28px;
    padding-left: 40px;
}

.padre {
    padding: 8px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 255.33px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper h3 {
    color: #FFFFFF;
    font-weight: 100;

}

.footer-phone {
    width: 182px;
    height: 48px;
    background: #515051;
    border-radius: 4px;
    display: flex;
    padding: 12px 24px;
    gap: 8px;
    border: none;
}

.footer-email {
    width: 232px;
    height: 48px;
    background: #515051;
    border-radius: 4px;
    padding: 12px 24px;
    gap: 8px;
    display: flex;
    border: none;
}

.footer-phone h4 {
    color: white;
    font-family: 'Outfit';
    letter-spacing: 0, 9px;
    font-weight: 100;
}

.footer-email h4 {
    color: white;
    font-family: 'Outfit';
    letter-spacing: 1px;
    font-weight: 100;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 255.33px;
    height: 80px;
    left: 800px;
    top: 3px;
}

.menu-wrapper button {
    background-color: #1F1815;
    border: none;
    color: rgba(255, 255, 255, 1);
}

.menu-terminos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 255.33px;
    height: 80px;
    left: 800px;
    top: 3px;
}

.menu-terminos button {
    background-color: #1F1815;
    border: none;
    color: rgba(255, 255, 255, 1);
}

.union {
    text-align: center;
    height: 40px;
    background: #2B2A2B;
    color: rgba(255, 255, 255, 1);
}

.union h4 {
    padding: 12px;
    letter-spacing: 1px;

    font-weight: 100;
}

/************************* Tienda *****************/

.tienda-origenes {

    text-shadow: none;
    box-shadow: none;
}

.CostaricaA {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 282px;
    border-radius: 8px;
    border: 1px solid #E3DED7;
    margin: 16px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.CostaricaA img {
    margin: 24px 31.3px;
    opacity: 0.5;

}

.CostaricaA p {
    opacity: 0.5;
    font-weight: 400;
    font-size: 14px;
    margin: 12px 0 24px 0;
}

.AñadirA {
    width: 72px;
    display: flex;
    background: rgba(227, 222, 215, 1);
    border-radius: 4px;
    color: white;
    padding: 8px;
    border: none;
}

.LaosA {
    opacity: 0.5;
    background-color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
}

/************************* Cesta *****************/

.cesta {

    text-align: center;
    width: 1280px;
    height: 876px;

}

#title-cesta {

    margin: 40px 0px 24px 0px;
    font-family: 'Outfit';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

.contenedor-icon a {
    display: flex;
    gap: 11px;
    text-decoration: none;
    text-align: center;

}

.iconCarrito {
    visibility: hidden;
    text-align: center;
    padding: 4px;
    width: 24px;
    height: 24px;
    background: rgba(247, 245, 243, 0.1);
    border-radius: 200px;
}

.iconCarrito p {
    color: white;
    font-size: 12px;
}


.all-product {
    width: 776px;
    height: 55.66px;
}

.shipping {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    margin: 18px;
}

.product-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 24px;
    width: 792px;
    height: 415.32px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    width: 625px;
    height: 36px;
}

.details p {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}


.shipping h3 {
    margin: 0px;
    padding: 0px;
    width: 54px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

input[type="radio"].checkGreen:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
    border: 2px solid rgba(42, 91, 69, 1);
    box-shadow: inset 0 0 0 2px white;
    text-decoration: none;
}

input[type="radio"].checkGreen:checked:before {
    background-color: rgba(42, 91, 69, 1);
    box-shadow: inset 0 0 0 2px white;
    text-decoration: none;
}

.divider {
    margin: 0px;
}

.frame-cesta {
    display: flex;
    justify-content: space-evenly;
}

/* ==================== Cesta Total ================== */

.cesta-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 384px;
    height: 280px;
    background: #F7F5F3;
}

.details-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 176px;

}

.details-total .divider {
    width: 336px;
}

.carr-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 18px;

}

.leve {
    margin: 0px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.total-iva p {
    margin: 0px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.total-total {
    border: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.total-iva {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    width: 107px;
    height: 40px;
}

.button-total {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 310px;
    height: 40px;
}

.go-check {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 129px;
    height: 40px;
    background: #2A5B45;
    border-radius: 5px;
    border: none;
    color: white;
}

.button-total a {
    text-decoration: none;
    color: #2A5B45;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}


/* ================================== Carrito con productos comprados ========================================= */

.number-contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 24px;
    height: 24px;
    background: rgba(42, 91, 69, 0.1);
    border-radius: 200px;
}

.number-contador p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.container-contador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 88px;
    height: 55.66px;
}

.imagen-compra {
    background: rgba(227, 222, 215, 1);
    width: 55.66px;
    height: 55.66px;
}

.all-product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 776px;
    height: 55.66px;
    margin: 16px 0px;
}

.details-coffe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 506.34px;
    height: 36px;
}

.details-coffe p {
    margin: 0px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

.Costarica span {
    visibility: hidden;
}

.CostaricaA span {

    visibility: hidden;
}
